/**/

html{
	width: 100%;
	height: 100%;	
}

body {
	font:14px/23px Arial, Helvetica, sans-serif;
	color:#8a8a8a;
	position:relative;
	min-width:960px;
	height: 100%;
	min-height: 100%;
	background: url(../images/bg_body4.jpg) center fixed #a9f3ce;
}

html, body {
	height:100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color: #584d38;
	text-transform: uppercase;
}

h2 {
	font-size: 35px;
	line-height: 32px;	
	text-align: center;
	font-weight: bold;
	margin-bottom: 0px;
	font-weight: bold;
	color: #f1eaea;
	margin-top: 56px;
}

h2.head1 {
	border-bottom: 1px solid #E7E7E7;
    margin: 56px auto 36px;
    padding-bottom: 38px;
    width: 540px;
}

h2.head1.w1 {
	width: auto;
	text-align: left;	
}

h3 {
	font-size: 23px;
	line-height: 33px;
	color: #8a8a8a;
	margin-bottom: 20px;
	font-weight: bold;
}

h3.green {
	line-height: 30px;
	color: #89d10b;
	margin-top: -1px;
	margin-bottom: 14px;	
}

h4 {
	font-size: 14px;
	line-height: 14px;	
	padding-top: 12px;
}


p {
	margin-bottom: 23px;	
}


address {
	font-style: normal;	
}



ul  {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list {
	padding-top: 2px;	
}

ul.list li {
	font-size: 14px;
	line-height: 18px;
	background: url(../images/marker.png) 0 10px no-repeat;
	padding-left: 38px;
	border-top: 1px solid #f2f2f2;
	padding: 5px 0 6px 38px;
}

ul.list li:first-child {
	border: none;	
	padding-top: 5px;
	background-position: 0 9px;
}

ul.list1 li {
	margin-bottom: 21px;	
}




/*links*/

a {
	text-decoration: none;	
	color: #c0f03c;
 	outline: none;	
	transition: 0.5s linear;
	-o-transition: 0.5s linear;
	-webkit-transition: 0.5s linear;
}

a:hover {
	color: #141414;	
}

a.btn {
	font: bold 18px/18px 'Open Sans', sans-serif;
	color: #fff;
	padding: 12px 15px 13px 14px;
	background: url(../images/btn_bg.png) repeat-x 0 0 #74c909;
	border-radius: 10px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 5px;
}

a.btn:hover {
	background: #e5e744;
}

a.link1 {
	font-size: 23px;
	line-height: 33px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

a.link2 {
	color: #89d10b;
}


a.link2:hover {
	color: #8a8a8a;	
}
/*preclass*/



.mb0 {
	margin-bottom: 0px !important;	
}

.m0 {
	margin: 0px !important;	
}

.marg1 {
	margin-top: 55px !important;	
}

.pad0 {
	padding: 0 !important;
}

.pad1 {
	padding-bottom: 55px !important;
}

.pad2 {
	padding-top: 23px !important;
}

.nowrap {
	white-space: nowrap;	
}
p.text1 {
	margin-bottom: 29px;	
}

p.text1 a {
	display: inline-block;
	margin-bottom: 1px;
}

.img_inner img {
	border-radius: 12px;
	margin-bottom: 0!;
}


.img_inner {
	border-radius: 19px;
	float: left;
	padding: 7px ;
	background: #d1d1d1;
	margin-right: 20px;
	overflow: hidden !important;
	margin-top: 8px;
	display: block;
	margin-bottom: 24px;
}

.img_inner.inner2 {
	background-color: #ebebeb;
	margin-bottom: 25px;	
}
.imgggg{
	width: 800px;
}
.center {
	text-align: center;
}

.wrapper {
	overflow: hidden;	
}



.clear {
	float: none !important;
	clear: both;	
}

/*header*/

header {
	padding-top: 19px;
	background: #ffffff05;
	padding-bottom: 29px;
	border-bottom: 1px solid #000000;
}

header h1 {
	float: left;
	position: absolute;
	z-index: 999;	
}

header h1 a {
	display: block;
	background: url(../images/logo.png) 0 0 no-repeat;
	overflow: hidden;
	text-indent: -999px;
	width: 148px;
	height: 35px;

}

.banner {
	min-height: 47px;
	background: url(../images/banner_bg.png) 0 0 repeat-x;
	padding-bottom: 64px;
	
}

.banner h2 {
	margin-bottom: 42px;	
	font-weight: 600;
	margin-top: 64px
}

.banner a.btn {
	background: url(../images/banne_btn.png) 0 0 repeat-x #acc909;
	font: bold 21px/33px 'Open Sans', sans-serif;
	display: inline-block;
	text-transform: uppercase;
	padding: 9px 18px 10px 60px;
	color: #fff;
	border-radius: 10px;
	margin-top: 0px;
	position: relative;
}

.banner a.btn:after {
	position: absolute;
	content: '';
	background: url(../images/btn_icon.png) 0 0 no-repeat;
	width: 27px;
	height: 26px;
	display: block;
	left: 20px;
	top: 14px;	
}

.banner a.btn:hover {
	background: #989898;
}

.block1 {
	background: #f2f2f2;	
	padding-bottom: 83px;
}

.block1 h2 {
	padding-bottom: 38px;
	width: 540px;
	margin: 56px auto 36px;
	border-bottom: 1px solid #e7e7e7;
}

.block1 .grid_3 {
	line-height: 24px;
}


.block2 {
	border-top: 13px solid #ededed;
	background: #f2f2f2;
}

.block2>div {
	padding-bottom: 71px;	
}

.block2 h2 {
	text-align: left;
	width: auto;	
}

.block2 .wrapper {
	padding-right: 22px;	
}

.block2 .wrapper h3 {
	padding-bottom: 1px;	
}

.block2 .list {
	margin-top: -3px;	
}

.block2 .list li {
	border-color: #e7e7e7;	
}
/*Content*/


.content {
	padding: 0px 0 42px;	
	background: #fff;
}

.content h2  {
	border-color: #f3f3f3 !important;	
}

.logos {
	margin-top: -23px;	
}

.logos a {
	float: left;
	background: url(../images/logos.jpg) -18px 0 no-repeat;
	height: 65px;
	display: block;
	width: 140px;
	margin-left: 47px;
}



.logos a:hover {
	opacity: 0.5;	
}

.logos a:first-child {
	margin-left: 18px;	
}

.logos a:first-child+a {
	background-position: -205px 0;	
	width: 150px;
}

.logos a:first-child+a+a {
	background-position: -404px 0;	
}

.logos a:first-child+a+a+a { 
	background-position: -585px 0;	
}

.logos a:first-child+a+a+a+a{ 
	background-position: -748px top;	
	width: 175px;
	margin-left: 20px;
}

#cycle img{
	float: left;
	margin-right: 70px;
	margin-top: 9px;
}

#cycle  div {
	background: #fff;
	overflow: hidden;
	height: 273px;
}

#cycle p {
	padding-top:1px;	
}

#pagination {
	overflow: hidden;
	width: 108px;
	margin: 0 auto;
	padding-top: 42px;	
}

#pagination a {
	float: left;
	display: block;
	background: url(../images/pagination.png) 0 bottom repeat-x #c5c6c6;
	width: 19px;
	margin-right: 8px;
	overflow: hidden;
	height: 18px;
	text-indent: -999px;	
	border-radius: 50%;
}

#pagination a:hover, #pagination a.activeSlide {	
	background-position: 0 0 ;
}

img.quest {
	float: left;
	margin-right: 13px;
	margin-top: 9px;	
}

.quest_block {
	margin-top: -1px;	
}

.quest_block  h3 {
	padding-bottom: 1px;	
}

blockquote {
	padding-left: 29px;
	padding-top: 1px;
	background: url(../images/quotes.png) 0 8px no-repeat;
}
/****Map***/
.map figure {	
	width: 366px;
	height: 358px;
	overflow: hidden;
	margin-top: 7px;
}

.map {
	padding-top: 1px;	
}
.map figure iframe {
	width: 366px;
	height: 358px;
}

.map address {
	margin-bottom: 23px;	
}



address dd span {
	min-width: 84px;
	display: inline-block;	
}


/************Footer***********/

footer {
	background: url(../images/bg_footer.png) 0 0 repeat-x;
}

.footer {
	width: 550px;
	margin: 0 auto;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 55px;	
}

.footer p {
  margin-bottom: 27px;
}


.footer h3 {
	font-size: 25px;
	line-height: 24px;	
	margin-bottom: 28px;
}
.footer_logo {
	background: url(../images/footer_logo.png);
	overflow: hidden;
	height: 50px;
	position: relative;
	top: 4px;
	width: 190px;
	text-indent: -999px;
	margin-right: 8px;
	display: block;
	float: left;
	margin-top: -9px
}

.socials {
	padding-bottom: 36px;	
	height: 48px;
}

.socials a {
	background: url(../images/soc_bg.png) 0 bottom repeat-x #2c2c2c;
	display: inline-block;
	border-radius: 50%;	
	margin-left: 98px;
}
.socials a:first-child {
	margin: 0 !important;	
}

.socials a:hover {
	background-position: 0 0;	
	background-color: transparent;
}

.copy {
	font-size: 13px;	
	vertical-align: middle;
	width: 256px;
	padding-top: 9px;
	margin: 0 auto;
}